<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Studio Tycoon: Game Dev Empire</h1>
            <p class="home-text">That million-dollar game concept? It probably started as a random shower thought. Step into the shoes of a studio
            founder, balance crazy indie ideas with cold business math, and rule the market.</p>
            <img src="/img/home/bar.png" alt="bar" loading="lazy">
        </div>
    </div>
</section>
<section class="ticker">
    <div class="ticker-track">
        <span>CRANKING OUT INDIE HIT GAMES ★ HIRE DEV TEAM ★ FIX BUGS ★ CRY ABOUT BUDGET ★ ANOTHER SHOWERS CONCEPT ★ MARKET DOMINATION
        ★ COMPETE WITH AAA STUDIOS ★ NO SLEEP MORE CODE ★ RELEASE DAY PARANOIA ★</span>


        <span>CRANKING OUT INDIE HIT GAMES ★ HIRE DEV TEAM ★ FIX BUGS ★ CRY ABOUT BUDGET ★ ANOTHER SHOWERS CONCEPT ★ MARKET DOMINATION
        ★ COMPETE WITH AAA STUDIOS ★ NO SLEEP MORE CODE ★ RELEASE DAY PARANOIA ★</span>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <h2>[About the Game]</h2>
        <h3>A simulator of the gaming industry</h3>
        <p class="about-text">In Studio Tycoon, you're basically wearing two hats - creative genius and business manager (and trust me, they don't
        always get along). You choose genres, platforms, features, and marketing strategies. The trick is knowing when to chase
        your artistic vision and when to make that mobile match-3 game that'll actually pay the bills.</p>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container">
     <h2>[How to Play]</h2>
     <h3>Plan, develop, release</h3>
     <ul class="how-list">
        <li class="how-item h1">
            <div class="how-number-conrtainer">
                <p>01</p>
            </div>
            <p class="how-item-title">Start Your Studio</p>
            <p class="how-item-text">Begin with a small team and limited budget.</p>
        </li>
        <li class="how-item h2">
            <div class="how-number-conrtainer">
                <p>02</p>
            </div>
            <p class="how-item-title">Create Games</p>
            <p class="how-item-text">Choose genre, mechanics, and features.</p>
        </li>
        <li class="how-item h3">
            <div class="how-number-conrtainer">
                <p>03</p>
            </div>
            <p class="how-item-title">Manage Resources</p>
            <p class="how-item-text">Balance time, money, and staff.</p>
        </li>
        <li class="how-item h1">
            <div class="how-number-conrtainer">
                <p>04</p>
            </div>
            <p class="how-item-title">Release Projects</p>
            <p class="how-item-text">Launch games and track performance.</p>
        </li>
        <li class="how-item h2">
            <div class="how-number-conrtainer">
                <p>05</p>
            </div>
            <p class="how-item-title">Expand the Company</p>
            <p class="how-item-text">Hire more staff and unlock new opportunities.</p>
        </li>
     </ul>
    </div>
</section>
<section class="features-section" id="features">
    <div class="container features-container">
        <div class="features-wrapper">
        <h2>[Features]</h2>
        <h3>Full development<br class="desk"/> cycle</h3>
        <ul class="features-list">
            <li class="features-item">
                <div class="features-item-wrapper">
                    <p class="features-number">9.5/10</p>
                    <p class="features-item-title">Game<br/>
                    Creation</p>
                </div>
                <p class="features-item-text">Customize every project to win over the harshest critics</p>
            </li>
            <li class="features-item">
                <div class="features-item-wrapper">
                    <p class="features-number">+250%</p>
                    <p class="features-item-title">Team<br />
                    Management</p>
                </div>
                <p class="features-item-text">Hire top talent and upgrade your staff performance</p>
            </li>
            <li class="features-item">
                <div class="features-item-wrapper">
                    <p class="features-number">#1 TREND</p>
                    <p class="features-item-title">Studio<br />
                    Growth</p>
                </div>
                <p class="features-item-text">Catch changing market trends to maximize your sales</p>
            </li>
            <li class="features-item">
                <div class="features-item-wrapper">
                    <p class="features-number">LEVEL 5</p>
                    <p class="features-item-title">Game<br />
                    Creation</p>
                </div>
                <p class="features-item-text">Expand your offices from a garage to a mega AAA studio</p>
            </li>
        </ul>
    </div>
            <picture>
                <source srcset="
                        /img/features/desk-img.png  1x,
                        /img/features/desk-img@2x.png 2x
                             " media="(min-width: 1439px)" />
                <source srcset="
                        /img/features/mob-img.png  1x,
                        /img/features/mob-img@2x.png 2x
                             " media="(max-width: 1438px)" />
                <img src="/img/features/mob-img.png" alt="Studio Tycoon" loading="lazy" />
            </picture>
    </div>
</section>
<section class="development-section" id="development">
    <div class="container">
        <h2>[Development Process]</h2>
        <h3>From concept to success</h3>
        <div class="development-wrapper">
            <ul class="development-list">
                <li class="development-item">>_
                Idea selection</li>
                <li class="development-item">>_
                Feature planning</li>
                <li class="development-item">>_
                Development phase</li>
                <li class="development-item">>_
                Testing and polishing</li>
                <li class="development-item">>_
                Release and feedback</li>
            </ul>
            <p>Mess up early on? Yeah, you'll definitely feel it later.</p>
        </div>
    </div>
</section>
<section class="advantages-section" id="advantages">
    <div class="container">
        <h2>[Advantages]</h2>
        <h3>Want to make a horror-cooking hybrid? Go<br class="desk" /> for it.<br class="mob"/> The game won't judge your weird ideas.</h3>
        <ul class="advantages-list">
            <li class="advantages-item a1">
                <img src="/img/advantages/one.png" alt="icon" loading="lazy">
                <p>Complete freedom to build any weird game ideas.</p>
            </li>
            <li class="advantages-item">
                <img src="/img/advantages/two.png" alt="icon" loading="lazy">
                <p>High replayability with dozens of strategic paths to success.</p>
            </li>
            <li class="advantages-item">
                <img src="/img/advantages/three.png" alt="icon" loading="lazy">
                <p>Grow your studio from a tiny garage to a AAA empire.</p>
            </li>
            <li class="advantages-item">
                <img src="/img/advantages/four.png" alt="icon" loading="lazy">
                <p>Full control over the development process and release pipeline.</p>
            </li>
            <li class="advantages-item">
                <img src="/img/advantages/five.png" alt="icon" loading="lazy">
                <p>Complete freedom to build any weird game ideas.</p>
            </li>
            <li class="advantages-item">
                <img src="/img/advantages/six.png" alt="icon" loading="lazy">
                <p>Hire top industry talent and upgrade your team's capabilities.</p>
            </li>
        </ul>
    </div>
</section>
<section class="benefits-section" id="benefits">
    <div class="container">
        <h2>[Player Benefits]</h2>
        <h3>What players gain</h3>
        <div class="benefits-container">
            <ul class="benefits-list">
                <li class="benefits-item">
                    <img src="/img/benefits/icon.png" alt="icon" loading="lazy">
                    <p>You'll get better at thinking several moves ahead</p>
                </li>
                <li class="benefits-item">
                    <img src="/img/benefits/icon.png" alt="icon" loading="lazy">
                    <p>You'll actually get how game development works (spoiler: it's messier than you think)</p>
                </li>
                <li class="benefits-item">
                    <img src="/img/benefits/icon.png" alt="icon" loading="lazy">
                    <p>That awesome feeling when you finally build your dream studio</p>
                </li>
                <li class="benefits-item">
                    <img src="/img/benefits/icon.png" alt="icon" loading="lazy">
                    <p>Creative experimentation</p>
                </li>
                <li class="benefits-item">
                    <img src="/img/benefits/icon.png" alt="icon" loading="lazy">
                    <p>Engaging management gameplay</p>
                </li>
            </ul>
            <picture>
                <source srcset="
                        /img/benefits/dev-desk.png  1x,
                        /img/benefits/dev-desk@2x.png 2x
                             " media="(min-width: 1439px)" />
                <source srcset="
                        /img/benefits/dev-mob.png  1x,
                        /img/benefits/dev-mob@2x.png 2x
                             " media="(max-width: 1438px)" />
                <img src="/img/benefits/dev-mob.png" alt="Studio Tycoon" loading="lazy" />
            </picture>            
        </div>
    </div>
</section>
<section class="faq-section" id="faq">
    <div class="container">
        <h2>[FAQ]</h2>
        <h3>Quick answers</h3>
        <ul class="faq-acc">
            <li class="faq-acc-el faq-current">
                <h4 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                    Is the game complex?
        
                        <span class="faq-acc-arr arr-down">
<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
        d="M18 9C18 9.19891 17.921 9.38968 17.7803 9.53033C17.6397 9.67098 17.4489 9.75 17.25 9.75H9.75V17.25C9.75 17.4489 9.67098 17.6397 9.53033 17.7803C9.38968 17.921 9.19891 18 9 18C8.80109 18 8.61032 17.921 8.46967 17.7803C8.32902 17.6397 8.25 17.4489 8.25 17.25V9.75H0.75C0.551088 9.75 0.360322 9.67098 0.21967 9.53033C0.0790178 9.38968 0 9.19891 0 9C0 8.80109 0.0790178 8.61032 0.21967 8.46967C0.360322 8.32902 0.551088 8.25 0.75 8.25H8.25V0.75C8.25 0.551088 8.32902 0.360322 8.46967 0.21967C8.61032 0.0790178 8.80109 0 9 0C9.19891 0 9.38968 0.0790178 9.53033 0.21967C9.67098 0.360322 9.75 0.551088 9.75 0.75V8.25H17.25C17.4489 8.25 17.6397 8.32902 17.7803 8.46967C17.921 8.61032 18 8.80109 18 9Z"
        fill="#373737" />
</svg>
                        </span>
                    </button>
                </h4>
        
                <p class="faq-acc-el-descr-frame">Don't worry - we ease you in with the basics, but before you know it you'll be managing complex development pipelines.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h4 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Can I create different genres?
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18 9C18 9.19891 17.921 9.38968 17.7803 9.53033C17.6397 9.67098 17.4489 9.75 17.25 9.75H9.75V17.25C9.75 17.4489 9.67098 17.6397 9.53033 17.7803C9.38968 17.921 9.19891 18 9 18C8.80109 18 8.61032 17.921 8.46967 17.7803C8.32902 17.6397 8.25 17.4489 8.25 17.25V9.75H0.75C0.551088 9.75 0.360322 9.67098 0.21967 9.53033C0.0790178 9.38968 0 9.19891 0 9C0 8.80109 0.0790178 8.61032 0.21967 8.46967C0.360322 8.32902 0.551088 8.25 0.75 8.25H8.25V0.75C8.25 0.551088 8.32902 0.360322 8.46967 0.21967C8.61032 0.0790178 8.80109 0 9 0C9.19891 0 9.38968 0.0790178 9.53033 0.21967C9.67098 0.360322 9.75 0.551088 9.75 0.75V8.25H17.25C17.4489 8.25 17.6397 8.32902 17.7803 8.46967C17.921 8.61032 18 8.80109 18 9Z"
                                    fill="#373737" />
                            </svg>
                        </span>
                    </button>
                </h4>
            
                <p class="faq-acc-el-descr-frame">Yes, multiple options are available.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h4 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Does the market change?
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18 9C18 9.19891 17.921 9.38968 17.7803 9.53033C17.6397 9.67098 17.4489 9.75 17.25 9.75H9.75V17.25C9.75 17.4489 9.67098 17.6397 9.53033 17.7803C9.38968 17.921 9.19891 18 9 18C8.80109 18 8.61032 17.921 8.46967 17.7803C8.32902 17.6397 8.25 17.4489 8.25 17.25V9.75H0.75C0.551088 9.75 0.360322 9.67098 0.21967 9.53033C0.0790178 9.38968 0 9.19891 0 9C0 8.80109 0.0790178 8.61032 0.21967 8.46967C0.360322 8.32902 0.551088 8.25 0.75 8.25H8.25V0.75C8.25 0.551088 8.32902 0.360322 8.46967 0.21967C8.61032 0.0790178 8.80109 0 9 0C9.19891 0 9.38968 0.0790178 9.53033 0.21967C9.67098 0.360322 9.75 0.551088 9.75 0.75V8.25H17.25C17.4489 8.25 17.6397 8.32902 17.7803 8.46967C17.921 8.61032 18 8.80109 18 9Z"
                                    fill="#373737" />
                            </svg>
                        </span>
                    </button>
                </h4>
            
                <p class="faq-acc-el-descr-frame">Yes, trends influence success.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h4 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                    Can I expand my studio?
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18 9C18 9.19891 17.921 9.38968 17.7803 9.53033C17.6397 9.67098 17.4489 9.75 17.25 9.75H9.75V17.25C9.75 17.4489 9.67098 17.6397 9.53033 17.7803C9.38968 17.921 9.19891 18 9 18C8.80109 18 8.61032 17.921 8.46967 17.7803C8.32902 17.6397 8.25 17.4489 8.25 17.25V9.75H0.75C0.551088 9.75 0.360322 9.67098 0.21967 9.53033C0.0790178 9.38968 0 9.19891 0 9C0 8.80109 0.0790178 8.61032 0.21967 8.46967C0.360322 8.32902 0.551088 8.25 0.75 8.25H8.25V0.75C8.25 0.551088 8.32902 0.360322 8.46967 0.21967C8.61032 0.0790178 8.80109 0 9 0C9.19891 0 9.38968 0.0790178 9.53033 0.21967C9.67098 0.360322 9.75 0.551088 9.75 0.75V8.25H17.25C17.4489 8.25 17.6397 8.32902 17.7803 8.46967C17.921 8.61032 18 8.80109 18 9Z"
                                    fill="#373737" />
                            </svg>
                        </span>
                    </button>
                </h4>
            
                <p class="faq-acc-el-descr-frame">Yes, significantly over time.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h4 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                    Is it replayable?
            
                        <span class="faq-acc-arr arr-down">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18 9C18 9.19891 17.921 9.38968 17.7803 9.53033C17.6397 9.67098 17.4489 9.75 17.25 9.75H9.75V17.25C9.75 17.4489 9.67098 17.6397 9.53033 17.7803C9.38968 17.921 9.19891 18 9 18C8.80109 18 8.61032 17.921 8.46967 17.7803C8.32902 17.6397 8.25 17.4489 8.25 17.25V9.75H0.75C0.551088 9.75 0.360322 9.67098 0.21967 9.53033C0.0790178 9.38968 0 9.19891 0 9C0 8.80109 0.0790178 8.61032 0.21967 8.46967C0.360322 8.32902 0.551088 8.25 0.75 8.25H8.25V0.75C8.25 0.551088 8.32902 0.360322 8.46967 0.21967C8.61032 0.0790178 8.80109 0 9 0C9.19891 0 9.38968 0.0790178 9.53033 0.21967C9.67098 0.360322 9.75 0.551088 9.75 0.75V8.25H17.25C17.4489 8.25 17.6397 8.32902 17.7803 8.46967C17.921 8.61032 18 8.80109 18 9Z"
                                    fill="#373737" />
                            </svg>
                        </span>
                    </button>
                </h4>
            
                <p class="faq-acc-el-descr-frame">Highly, with different strategies.</p>
            </li>
        </ul>
    </div>
</section>
<section class="contact-section" id="contact">
    <div class="container contact-container">
        <h2>[Contact]</h2>
        <h3>Build your empire with us</h3>
        <div class="contact-wrapper">
            <div class="contact-text">
                <p>info@rendervector.space</p>
            </div>
            <a class="contact-link" href="mailto:info@rendervector.space">
                <p>Email Us</p>
            </a>
        </div>
    </div>
</section>