<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Studio Tycoon: Game Dev Empire</h1>
            <p class="home-text">That million-dollar game concept? It probably started as a random shower thought. Step into the shoes of a studio
            founder, balance crazy indie ideas with cold business math, and rule the market.</p>
            <img src="/img/home/bar.png" alt="bar" loading="lazy">
        </div>
    </div>
</section>
<section class="ticker">
    <div class="ticker-track">
        <span>CRANKING OUT INDIE HIT GAMES ★ HIRE DEV TEAM ★ FIX BUGS ★ CRY ABOUT BUDGET ★ ANOTHER SHOWERS CONCEPT ★ MARKET DOMINATION
        ★ COMPETE WITH AAA STUDIOS ★ NO SLEEP MORE CODE ★ RELEASE DAY PARANOIA ★</span>


        <span>CRANKING OUT INDIE HIT GAMES ★ HIRE DEV TEAM ★ FIX BUGS ★ CRY ABOUT BUDGET ★ ANOTHER SHOWERS CONCEPT ★ MARKET DOMINATION
        ★ COMPETE WITH AAA STUDIOS ★ NO SLEEP MORE CODE ★ RELEASE DAY PARANOIA ★</span>
    </div>
</section>