.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
background: #fff;
}

.header-container {
  padding: 6px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: #fdf4cd;
  padding: 170px 80px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

}


.menu-item {
  padding: 8px 12px;
  font-weight: 500;
  font-size: 16px;
  height: 38px;
  border-radius: 50px;
  text-align: center;
  transition: border 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
border: 1px solid rgba(55, 55, 55, 0.5);
}


@media screen and (min-width: 1440px) {
  .header {
    height: 62px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 80px;
    gap: 40px;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .navigation-item {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
    padding: 8px 12px;
      border-radius: 50px;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }

  .navigation-item:hover {
  font-weight: 600;
  }

  .navigation-item:focus,
  .navigation-item.active {
border: 1px solid rgba(55, 55, 55, 0.5);
  }

}